name: Continuous Deployment - Backend

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Docker login
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: Dockerfile.prod
                  push: true
                  tags: |
                    ${{ secrets.DOCKERHUB_USERNAME }}/second-brain-backend:${{ github.sha }}
                    ${{ secrets.DOCKERHUB_USERNAME }}/second-brain-backend:latest
                  build-args: |
                      DATABASE_URL=${{ secrets.DATABASE_URL }}

            - name: Deploy to VM
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  port: 22
                  script: |
                      echo "IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/second-brain-backend:latest"
                      docker stop second-brain-backend || true
                      docker rm second-brain-backend || true
                      docker rmi ${{ secrets.DOCKERHUB_USERNAME }}/second-brain-backend:latest || true
                      docker run -d -p ${{ secrets.PORT }}:${{ secrets.PORT }} --name second-brain-backend -e PORT=${{ secrets.PORT }} -e DATABASE_URL="${{ secrets.DATABASE_URL }}" -e JWT_SECRET="${{ secrets.JWT_SECRET }}" -e CORS_ORIGIN="${{ secrets.CORS_ORIGIN }}" ${{ secrets.DOCKERHUB_USERNAME }}/second-brain-backend:latest